POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=database

# --- Configuración de Redis ---
REDIS_PASSWORD=tu_contraseña_redis
# Usa 'host.docker.internal' si la API corre en Docker y Redis afuera.
# Usa 'localhost' si ejecutas todo localmente sin contenedores.
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

POSTGRES_CONTAINER=postgresql-servidor